/*              header section   started             */
body{
    margin: 0px;
}
header{
    width: 100%;
    background-color: black;
    color: white;
    height: 60px;
    position: fixed;
}
header ul li{
    width: 25%;
    color: goldenrod;
    list-style: none;
    float: left;
    text-transform: uppercase;
    text-align: center;
}
header ul{
    margin-left: 0;
    padding-left: 0;
}
#logo{
    width: 20%;
    height: 55px;
    float: left;
    text-align: center;
    padding-top: 5px;
}
#menu{
    width: 80%;
    height: 60%;
    float: left;
}
header ul li a{
    color: goldenrod;
    text-decoration: none;
}

/*              header section   ended          */

/*              home section   started          */
#home{
    width: 100%;
    text-align: center;
    background-image: url(../images/bg.avif);
    background-repeat: no-repeat;
    height: 100%;
    color: whitesmoke;
    background-size: 100% 1000%;
}
#home h1{
    margin-top: 0;
}
.content_1home{
    margin-top: 200px;
    width: 60%;
    margin: 0 20%;
    padding-top: 170px;
}
.subcont1{
    border: 3px solid white;
    border-radius: 20px;
}


/*              home section ended             */


/*              about section started            */


#about{
    width: 100%;
    height: 500px;
}
.div_abt{
    width: 16%;
    background-color: aquamarine;
    color: darkslategrey;
    float: left;
    border-radius: 20px;
    height: 300px;
    padding: 0 2%;
}
.div_abt img{
    padding-top: 15px;
    box-shadow: 5px 10px black;
}
.mlR{
    margin: 0 4%;
}
.mR{
    margin-right: 4%;
}
#about h1{
    text-align: center;
}
#about button{
    background-color: floralwhite;
    border: none;
    border-radius: 10px;
    font-size: 8px;
    height: 15px;
    color: crimson;
    font-family: fantasy;
}


/*              about section  ended           */


/*              team section  started           */
#team{
    width: 100%;
    height: 500px;
}
.teamcont1{
    background-color: coral;
    height: 450px;
    padding-top: 50px;
}
.teamleft{
    margin-left: 4%;
    width: 26%;
    float: left;
    height: 250px;
    padding: 0 2%;
}
.teamright{
    margin-right: 4%;
    margin-left: 2%;
    width: 60%;
    height: 100%;
    float: left;
}


/*              team section  ended           */

/*              contact section  started           */
#contactcoont1{
    width: 100%;
    height: 400px;
}
#contact h1{
    text-align: center;
    font-weight: bold;
}
.contactcont1{
    width: 92%;
    margin: 0 4%;
}
.contactleft,.contactright{
    width: 50%;
    float: left;
}
input{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
button{
    width: 50%;
    background-color: crimson;
    height: 40px;
    border: none;
    font-size: 22px;
    color: wheat;
}

/*              contact section  ended           */






